body
#document9{
    color: aqua; background-color: rgb(203, 188, 198);
    align-items: center;
}
#document8{
    background-color: darkgray;
}
#document7{
    color: rgb(236, 11, 37);
}
#document6
{
    color: brown;
}
#document5
{
    color: brown;
}
#document4
{
    color: brown;
}